<% extend('../layout/base2') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Login Comberco-Chatbot</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="../users/login" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                        <span class="section">Login</span>                     
                        <br>
                        <div class="item form-group">
                            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Register/Login</a>
                        </div>
                        <!-- <div class="item form-group">
                            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login</a>
                        </div> -->
                      
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>