<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>เพิ่มสินค้า</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST" enctype="multipart/form-data">                   
                        <span class="section">เพิ่มสินค้า</span>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">ชื่อสินค้า <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" placeholder="ชื่อสินค้า" required="required" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">คำอธิบายสินค้า <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="telephone" name="description" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="อธิบายสินค้า">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">ราคา <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="telephone" name="price" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="ราคาสินค้า">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">รูปสินค้า <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" id="telephone" name="goodspic" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="รูปสินค้า">
                            </div>
                        </div>                    
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>