<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>สมัคร/ต่อ บริการ Chatbot</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                        <span class="section">สมัคร/ต่อ บริการ Chatbot</span>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">ชื่อ Page Facebook <span class="required">*</span>
                                </label>
                                <select name="bot_id">
                                    <% bot.forEach((bot, index) => { %>                                       
                                        <option value="<%=bot._id%>"><%=bot.page_fb_name%></option>                                                                                                           
                                    <% }) %>                                                                   
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Package ที่สนใจ <span class="required">*</span>
                                </label>
                                <select name="package_id">
                                    <% package.forEach((package, index) => { %>                                       
                                        <% if (package.status==="open") {%>
                                            <option value="<%=package._id%>"><%=package.package_name%> ระยะเวลา <%=package.package_term%> วัน ราคา <%=package.price%> บาท</option> 
                                        <%}%>                                                                                                          
                                    <% }) %>                                                                   
                                </select>
                            </div>    
                        </div>                    
                            
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
