<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>แนบหลักฐาน/เปลี่ยน-บริการ Chatbot</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST" enctype="multipart/form-data">                   
                        <span class="section">แนบหลักฐาน/เปลี่ยน-บริการ</span>                          

                        <%if (myrole === 'admin') { %>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Payment_ID <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="telephone" name="id" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" value="<%=payment[0]._id%>" readonly>
                                </div>
                            </div>     
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Payment Status <span class="required">*</span>
                                </label>
                                <select name="status">                                    
                                    <option value="waiting_for_payment" selected>waiting_for_payment</option>     
                                    <option value="canceled">canceled</option>        
                                    <option value="confirmed">confirmed</option>                                                                                                               
                                </select>
                            </div>    
                            <input type="hidden" id="telephone" name="oldstatus" required="required" data-validate-length-range="8,20" value="<%= payment[0].status %>" class="form-control col-md-7 col-xs-12">
                        <%} else {%>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">ชื่อ Page Facebook <span class="required">*</span>
                                    </label>
                                    <select name="bot_id">
                                        <% bot.forEach((bot, index) => { %>     
                                            <% if (payment[0].bot_id.equals(bot._id)) {%>                                  
                                                <option value="<%=bot._id%>" selected><%=bot.page_fb_name%></option>
                                            <%} else {%>
                                                <option value="<%=bot._id%>"><%=bot.page_fb_name%></option>                                                                                                           
                                            <% } %>
                                        <% }) %>                                                                 
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Package ที่สนใจ <span class="required">*</span>
                                    </label>
                                    <select name="package_id">
                                        <% package.forEach((package, index) => { %>                                       
                                            <% if (package.status=="open") {%>
                                                <% if (payment[0].package_id.equals(package._id)) {%>
                                                    <option value="<%=package._id%>" selected><%=package.package_name%> ระยะเวลา <%=package.package_term%> วัน ราคา <%=package.price%> บาท</option> 
                                                <% } else { %>
                                                    <option value="<%=package._id%>"><%=package.package_name%> ระยะเวลา <%=package.package_term%> วัน ราคา <%=package.price%> บาท</option> 
                                                <% } %>
                                            <%}%>                                                                                                          
                                        <% }) %>                                                                   
                                    </select>
                                </div>    
                            </div>  
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Answer <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" id="telephone" name="evidence" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="ใส่รูปภาพสลิปโอนเงิน">
                                </div>
                            </div>       
                            <input type="hidden" id="telephone" name="status" required="required" data-validate-length-range="8,20" value="waiting_for_payment" class="form-control col-md-7 col-xs-12">  
                        <%}%>     

                        <input type="hidden" id="telephone" name="oldevidence" required="required" data-validate-length-range="8,20" value="<%= payment[0].evidence_transfer %>" class="form-control col-md-7 col-xs-12" placeholder="ใส่รูปภาพสลิปโอนเงิน">
                                  
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
