<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>แก้ไข Chatbot-Package</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">                  
                        <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                            <span class="section">แก้ไข Package</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Package Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" placeholder="ชื่อ package" required="required" type="text" value="<%=package.package_name%>">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Package Term <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="telephone" name="term" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="ระยะเวลาของ package(วัน)" value="<%=package.package_term%>">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Price <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="telephone" name="price" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="ราคาของ package" value="<%=package.price%>">
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Status <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select name="status">
                                        <%if (package.status == 'open') { %>
                                            <option value="open" selected>open</option>
                                            <option value="close">close</option>  
                                        <% }else{ %>                                        
                                            <option value="open">open</option>
                                            <option value="close" selected>close</option>  
                                        <% } %>                                                              
                                        </select>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">                    
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>