<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>แก้ไขบัญชีธนาคาร</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                        <span class="section">แก้ไขบัญชีธนาคาร</span>
                        <div class="item form-group">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">ชื่อธนาคาร <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="bank">
                                        <option value="ธนาคารกสิกรไทย">ธนาคารกสิกรไทย</option> 
                                        <option value="ธนาคารไทยพาณิชย์">ธนาคารไทยพาณิชย์</option>                                                                                                                           
                                        <option value="ธนาคารกรุงศรีอยุธยา">ธนาคารกรุงศรีอยุธยา</option>                                                                                                                           
                                        <option value="ธนาคารทหารไทย">ธนาคารทหารไทย</option>                                                                                                                           
                                        <option value="ธนาคารเกียรตินาคิน">ธนาคารเกียรตินาคิน</option>                                                                                                                           
                                        <option value="ธนาคารออมสิน">ธนาคารออมสิน</option>                                                                                                                           
                                        <option value="ธนาคารซีไอเอ็มบี">ธนาคารซีไอเอ็มบี</option>                                                                                                                           
                                        <option value="ธนาคารกรุงไทย">ธนาคารกรุงไทย</option>                                                                                                                           
                                        <option value="ธนาคารออมสิน">ธนาคารออมสิน</option>                                                                                                                           
                                        <option value="ธนาคารยูโอบี">ธนาคารยูโอบี</option>                                                                                                                           
                                        <option value="ธนาคารอิสลาม">ธนาคารอิสลาม</option>                                                                                                                           
                                        <option value="ธนาคารสแตนดาร์ดชาร์เตอร์">ธนาคารสแตนดาร์ดชาร์เตอร์</option>                                                                                                                           
                                    </select>                                       
                                </div>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">AccountId <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="10" data-validate-words="1" name="accountid" placeholder="เลขที่บัญชี" required="required" type="number" value="<%=account.account_id%>">
                            </div>
                        </div>       
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Account Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="" data-validate-words="1" name="accountname" placeholder="ชื่อบัญชี" required="required" type="text" value="<%=account.account_name%>">
                            </div>
                        </div>             
                            
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>