<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>แก้ไข Bank</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST" enctype="multipart/form-data">                   
                        <span class="section">แก้ไข Bank</span>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Bank Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="name" placeholder="ชื่อ Bank" required="required" type="text" value="<%=bank.bank_name%>">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Bank Logo <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" id="telephone" name="thefile" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="new logo bank">
                            </div>
                        </div>
                        <input type="hidden" id="telephone" name="oldfile" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="logo bank" value="<%=bank.bank_logo%>">             
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                            <button id="send" type="submit" class="btn btn-success" value='Upload'>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>