<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>อัพเดทสถานะการสั่งซื้อ</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                        <span class="section">รายละเอียดสินค้า</span>
                        
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">รหัสคำสั่งซื้อ <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="telephone" name="pic" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12" placeholder="รูปสินค้า" value="<%= order.customer_order%>" readonly>
                            </div>
                        </div>                     
                        <div class="item form-group">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Status <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="status">            
                                        <%if (order.status == 'open') { %>
                                            <option value="open" selected>รอการตรวจสอบ</option>                                        
                                            <option value="confirm">ยืนยันการสั่งซื้อ</option>                                                                                     
                                            <option value="cancel">ยกเลิกการสั่งซื้อ</option>      
                                        <% }else if (order.status == 'confirm'){ %>                                        
                                            <option value="open">รอการตรวจสอบ</option>                                        
                                            <option value="confirm" selected>ยืนยันการสั่งซื้อ</option>                                                                                     
                                            <option value="cancel">ยกเลิกการสั่งซื้อ</option>      
                                        <% }else { %>                                             
                                            <option value="open">รอการตรวจสอบ</option>                                        
                                            <option value="confirm">ยืนยันการสั่งซื้อ</option>                                                                                     
                                            <option value="cancel" selected>ยกเลิกการสั่งซื้อ</option>     
                                        <% } %>                                              
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>