<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>จัดการ bot</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                <div class="x_content">    
                    <span class="section">จัดการสินค้าของ bot</span>
                    <table class="table table-hovered">
                        <thead class="thead-dark">
                            <tr>
                                <th>รายการ</th>
                                <th>ข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody>      
                            <% bot.goods_list.forEach((goods, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %> ชื่อสินค้า </td>    
                                    <td><%=goods.goods_name%></td>                         
                                </tr> 
                                <tr>
                                    <td></td>
                                    <td><%=goods.goods_description%></td>                                         
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><%=goods.goods_price%></td> 
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center"><a href="/bot/delete/<%=bot._id%>/<%=goods._id%>">ลบสินค้านี้</a></td>                                            
                                </tr>
                            <% }) %>                                                            
                        </tbody>
                    </table>
                    <form action="" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Facebook page <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="id" placeholder="ID" required="required" type="text" value="<%=bot.page_fb_name%>" readonly>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">เลือกสินค้า <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="goods_id">
                                    <% goods.forEach((goods, index) => { %>                             
                                        <option value="<%=goods._id%>"><%=goods.goods_name%> ราคา <%=goods.goods_price%>  บาท</option>                                                             
                                    <% }) %>                                                                   
                                </select>
                            </div>
                        </div>                           
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">                    
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>                  
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>