<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายชื่อบัญชีสำหรับรับเงิน</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <a class="btn btn-primary" href="/account/create" role="button">เพิ่มบัญชี</a>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>   
                                    <%if (myrole === 'admin') { %>                 
                                        <th>รหัสผู้ใช้</th> 
                                    <%}%>                                      
                                    <th>ชื่อธนาคาร</th>
                                    <th>เลขที่บัญชี</th>
                                    <th>ชื่อบัญชี</th>     
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>                                                         
                                </tr>
                            </thead>
                            <tbody>                              
                                <% account.forEach((account, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %></td>    
                                    <%if (myrole === 'admin') { %>                 
                                    <td><%=account.user_id.fb_name%></td> 
                                    <%}%>           
                                    <td><%=account.bank_name%></td>                                    
                                    <td><%=account.account_id%></td> 
                                    <td><%=account.account_name%></td>    
                                    <td><a href="/account/edit/<%=account._id%>">แก้ไข</a></td>
                                    <td><a href="/account/delete/<%=account._id%>">ลบ</a></td>                                           
                                </tr> 
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>