<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายชื่อ Bank ทั้งหมด</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <a class="btn btn-primary" href="/bank/create" role="button">Add Bank</a>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>                                    
                                    <th>ชื่อธนาคาร</th>
                                    <th>Logo Path</th>     
                                    <th>Logo Pic</th>     
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>                                                         
                                </tr>
                            </thead>
                            <tbody>                              
                                <% bank.forEach((bank, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %></td>                             
                                    <td><%=bank.bank_name%></td>  
                                    <td><%=bank.bank_logo%></td>     
                                    <td><img src="/<%=bank.bank_logo%>" class="img-responsive"></td>     
                                    <td><a href="/bank/edit/<%=bank._id%>">แก้ไข</a></td>
                                    <td><a href="/bank/delete/<%=bank._id%>">ลบ</a></td>                              
                                </tr> 
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>