<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายชื่อบอท</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <!-- <a class="btn btn-primary" href="/account/create" role="button">เพิ่มบัญชี</a> -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>       
                                    <%if (myrole === 'admin') { %>
                                        <th>ชื่อผู้ใช้</th>       
                                    <%} %>                                               
                                    <th>ชื่อเพจ</th>
                                    <th>สถานะ</th>
                                    <th>แพ็คเกจ</th>
                                    <th>วันเริ่ม</th>
                                    <th>วันหมดอายุ</th>
                                    <th>จำนวนสินค้า</th>
                                    <th>รายละเอียด</th>   
                                    <%if (myrole === 'admin') { %>   
                                        <th>แก้ไข</th>     
                                    <%} %>                                  
                                </tr>
                            </thead>
                            <tbody>                              
                                <% bot.forEach((bot, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %></td>    
                                    <%if (myrole === 'admin') { %>
                                        <td><%=bot.userdata[0].fb_name%></td>                         
                                    <%} %>
                                    <td><%=bot.page_fb_name%></td> 
                                    <td><%=bot.state%></td> 
                                    <td><%=bot.packagedata[0].package_name%></td> 
                                    <td><%=moment(bot.start_date).format( 'MMM-DD-YYYY') %></td>                                     
                                    <%if (moment(bot.end_date).diff(moment(),'days') < 14) { %>
                                        <td bgcolor="#f5dc9e"><%=moment(bot.end_date).format( 'MMM-DD-YYYY') %> </td>                                       
                                    <%} else {%>
                                        <td><%=moment(bot.end_date).format( 'MMM-DD-YYYY') %></td> 
                                       
                                    <%}%>  
                                    <td><%=bot.goods_list.length%></td>
                                    <td><a href="/bot/edit/<%=bot._id%>">กดที่นี่</a></td>     
                                    <%if (myrole === 'admin') { %>                                 
                                    <td><a href="/bot/adminedit/<%=bot._id%>">กดที่นี่</a></td>  
                                    <%} %>                                    
                                </tr>
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>