<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายละเอียดการสั่งซื้อ</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>รายการ</th>
                                    <th>ข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody>      
                                <% bot.goods_list.forEach((goods, index) => { %>                              
                                    <tr>
                                        <td>ชื่อสินค้า <%=index+1 %></td>    
                                        <td><%=goods.goods_name%></td>                         
                                    </tr> 
                                    <tr>
                                        <td></td>
                                        <td><%=goods.goods_description%></td>                                         
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><%=goods.goods_price%></td> 
                                    </tr>
                                <% }) %>                                                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>