<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Feedback ทั้งหมด</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>ผู้แจ้ง</th>
                                    <th>ปัญหา</th>
                                    <th>คำอธิบาย</th>
                                    <th>Status</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tbody>                              
                                <% feedback.forEach((feedback, index) => { %>                              
                                <tr>
                                    <td><%=index+1%></td>
                                    <td><%=feedback.user_id.fb_name%></td>
                                    <td><%=feedback.feedback %></td>
                                    <td><%=feedback.description %></td>
                                    <td><%=feedback.status %></td>
                                    <td><a href="/feedback/edit/<%=feedback._id%>">แก้ไข</a></td>
                                    <td><a href="/feedback/delete/<%=feedback._id%>">ลบ</a></td>
                                </tr> 
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>