<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายการสินค้า</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <a href="/goods/create" class="btn btn-primary" role="button">เพิ่มสินค้า</a>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>
                                    <%if (myrole === 'admin') { %>
                                        <th>ชื่อผู้ใช้</th>       
                                    <%} %>             
                                    <th>ชื่อสินค้า</th>
                                    <th>คำอธิบายสินค้า</th>
                                    <th>รูป</th>
                                    <th>ราคา</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% goods.forEach(function(goods, index) {%>                                
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <%if (myrole === 'admin') { %>
                                            <td><%=goods.user_id.fb_name%></td>                         
                                        <%} %>
                                        <td><%= goods.goods_name %></td>
                                        <td><%= goods.goods_description %></td>
                                        <td><a href="/<%=goods.goods_pic%>">คลิกเพื่อดูรูป</a></td>
                                        <td><%= goods.goods_price %></td>
                                        <td><a href="/goods/edit/<%= goods._id %>">แก้ไข</a></td>
                                        <td><a href="/goods/delete/<%= goods._id %>">ลบ</a></td>
                                    </tr>
                                <% }); %>                                                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>