<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายการสั่งซื้อ</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>ชื่อเพจ</th>
                                    <th>รายละเอียดการส่ังซื้อ</th>      
                                    <th>รวมราคา</th>
                                    <th>วันที่สั่งซื้อ</th>                                                                  
                                    <th>หลักฐานการโอนเงิน</th>
                                    <th>สถานะ</th>
                                    <th>แก้ไขสถานะ</th>
                                </tr>
                            </thead>
                            <tbody>              
                                <% order.forEach((order, index) => { %>                              
                                    <tr>
                                        <td><%=index+1 %></td>                                                             
                                        <td><%=order.botdata[0].page_fb_name%></td>                                         
                                        <td><a href="/goodsConfirmation/details/<%=order.customer_order%>">รายละเอียด</a></td>                                    
                                        <td><%=order.orderdata[0].goods_price * order.orderdata[0].goods_amount%></td>                                    
                                        <td><%= moment(order.createdAt).format( 'LLLL') %></td>
                                        <td><a href="<%=order.evidence_transfer_url%>">คลิกเพื่อดูสลิป</a></td>    
                                        <td><%=order.status%></td>    
                                        <%if (order.status == 'open') { %>
                                            <td><a href="/goodsConfirmation/edit/<%=order._id%>">แก้ไข</a></td>
                                        <%} else {%>
                                            <td>รายการสมบูรณ์</td>
                                        <%}%>                                       
                                    </tr> 
                                <% }) %>                                                                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>