<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>รายละเอียดการสั่งซื้อ</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>รายการ</th>
                                    <th>ข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr>
                                    <td>รหัสการสั่งซื้อ :</td>
                                    <td><%= detail._id %></td>
                                </tr>
                                <tr>
                                    <td>ชื่อสินค้า :</td>
                                    <td><%= detail.goods_name %></td>
                                </tr>
                                <tr>
                                    <td>ราคา :</td>
                                    <td><%= detail.goods_price %></td>
                                </tr>
                                <tr>
                                    <td>จำนวน :</td>
                                    <td><%= detail.goods_amount %></td>
                                </tr>
                                <tr>
                                    <td>รวมราคา :</td>
                                    <td><%=detail.goods_amount * detail.goods_price%></td>    
                                </tr>
                                <tr>
                                    <td>ชื่อผู้สั่งซื้อ :</td>
                                    <td><%= detail.cus_name %></td>
                                </tr>
                                <tr>
                                    <td>เบอร์โทร :</td>
                                    <td><%= detail.cus_phone %></td>
                                </tr>
                                <tr>
                                    <td>ที่อยู่จัดส่งสินค้า:</td>
                                    <td><%= detail.cus_address %></td>
                                </tr>
                                <tr>
                                    <td>อีเมล :</th>
                                    <td><%= detail.cus_email %></td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>