<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>

        <div class="clearfix"></div>

        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">   
                    <a class="btn btn-primary" href="/auth/facebook/subscriptions" role="button">New Bot</a>
                </div>

            <div class="x_content">                        
                    <% for(var i = 0; i < pageData.length; i++){ %>
                        <div class="card col-md-4" >
                                <div class="card-body">
                                    <h5 class="card-title"><%=pageData[i].name%></h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="/fb_bot_subscription?page_id=<%=pageData[i].id%>&access_token=<%=pageData[i].access_token%>&page_name=<%=pageData[i].name%>" class="btn btn-primary">Subscription</a>
                                </div>
                                <div>
                                    <!-- <form action="/post_page" class="form-horizontal form-label-left post-form" novalidate method="POST">                   
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Welcome post <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="post" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="message" placeholder="โพสต์" required="required" type="text">
                                            </div>
                                        </div>         
                                        <input type="hidden" id="telephone" name="page_id" required="required" data-validate-length-range="8,20" value="<%=pageData[i].id%>" class="form-control col-md-7 col-xs-12" placeholder="ใส่รูปภาพสลิปโอนเงิน">
                                        <input type="hidden" id="telephone" name="access_token" required="required" data-validate-length-range="8,20" value="<%=pageData[i].access_token%>" class="form-control col-md-7 col-xs-12" placeholder="ใส่รูปภาพสลิปโอนเงิน">            
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">                    
                                            <button id="send" type="submit" class="btn btn-success">Post Page</button>
                                            </div>
                                        </div>
                                    </form> -->
                                </div>
                        </div>
                    <% } %>
                    

            </div>
            </div>
        </div>        
        </div>
    </div>
</div>


<!-- <h1>Hello <%= title %></h1>

<p>Test paragraph</p> -->