<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Package ทั้งหมด</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <a class="btn btn-primary" href="/package/create" role="button">New Package</a>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>Package Name</th>
                                    <th>Package Term</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tbody>                              
                                <% package.forEach((package, index) => { %>                              
                                <tr>
                                    <td><%=index+1%></td>
                                    <td><%=package.package_name %></td>
                                    <td><%=package.package_term %></td>
                                    <td><%=package.price %></td>
                                    <td><%=package.status %></td>
                                    <td><a href="/package/edit/<%=package._id%>">แก้ไข</a></td>
                                    <td><a href="/package/delete/<%=package._id%>">ลบ</a></td>
                                </tr> 
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>