<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>สมัคร/ต่ออายุบริการ Chatbot</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <a class="btn btn-primary" href="/payment/create" role="button">เพิ่มบริการ</a>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>
                                    <%if (myrole === 'admin') { %>
                                        <td>ลิงค์แก้ไข</td>
                                        <td>ชื่อผู้ใช้</td>
                                    <%} %>
                                    <th>ชื่อเพจ Facebook</th>
                                    <th>รายละเอียด Package</th>
                                    <th>สถานะ</th>
                                    <th>หลักฐานการโอนเงิน</th>
                                    <th>วันที่สมัคร</th>   
                                    <th>วันที่อนุมัติ</th>                                    
                                    <th>แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody>  
                                <% payment.forEach((payment, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %></td>
                                    <%if (myrole === 'admin') { %>
                                        <td>/edit/<%=payment._id%></td>
                                        <td><%=payment.userdata[0].fb_name%></td>
                                    <%} %>
                                    <td><%=payment.botdata[0].page_fb_name %></td>
                                    <td><%=payment.packagedata[0].package_name %> ระยะเวลา <%=payment.packagedata[0].package_term%> วัน</td>
                                    <td><%=payment.status %></td>
                                    <%if (payment.evidence_transfer !== "") { %>
                                        <td><a href="/<%=payment.evidence_transfer%>">คลิกเพื่อดูสลิป</a></td>
                                    <%} else {%>
                                        <td><a href="/payment">คลิกเพื่อดูสลิป</a></td>
                                    <%}%>
                                    <td><%=moment(payment.createdAt).format( 'MMM-DD-YYYY') %></td>
                                    <td><%=moment(payment.แนืดรพทำกฤะ).format( 'MMM-DD-YYYY') %></td>
                                    <%if (payment.status == 'waiting_for_payment') { %>
                                        <td><a href="/payment/edit/<%=payment._id%>">แก้ไข</a></td>
                                    <%} else {%>
                                        <td>รายการสมบูรณ์</td>
                                    <%}%>
                                </tr> 
                                <% }) %>                                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>