<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Profile สมาชิก</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>รายการ</th>
                                    <th>ข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr>
                                    <td>Facebook :</th>
                                    <td><%= user.fb_name %></td>
                                </tr>
                                <tr>
                                    <td>สิทธิ์การใช้งาน :</th>
                                    <td><%= user.role %></td>
                                </tr>
                                <tr>
                                    <td>สถานะการทดลองใช้งาน :</th>
                                    <td><%= user.free_trials %></td>
                                </tr>
                                <tr>
                                    <td>วันเริ่มต้นการสมัครใช้งาน :</th>
                                    <td><%= moment(user.createdAt).format( 'MMM-DD-YYYY') %></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>