<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>คำถามทั้งหมด</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <a class="btn btn-primary" href="/question/create" role="button">เพิ่มคำถาม</a>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>     
                                    <%if (myrole === 'admin') { %>
                                        <th>ชื่อผู้ใช้</th>       
                                    <%} %>                        
                                    <th>คำถาม</th>
                                    <th>คำตอบ</th>     
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>                                                         
                                </tr>
                            </thead>
                            <tbody>                              
                                <% question.forEach((question, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %></td>    
                                    <%if (myrole === 'admin') { %>
                                        <td><%=question.user_id.fb_name%></td>                         
                                    <%} %>
                                    <td><%=question.question%></td>
                                    <td><%=question.answer%></td>     
                                    <td><a href="/question/edit/<%=question._id%>">แก้ไข</a></td>
                                    <td><a href="/question/delete/<%=question._id%>">ลบ</a></td>                              
                                </tr> 
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>