<% extend('../layout/base') %>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Profile สมาชิก</h3>
            </div>            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">                
                    <div class="x_content">
                        <table id="datatable" class="table table-hovered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>FB_name</th>
                                    <th>Role</th>
                                    <th>FB_id</th>
                                    <th>Free trails</th>
                                    <th>Created date</th>
                                    <th>Last updated</th>                                    
                                    <th>แก้ไข</th>
                                    <!-- <th>ลบ</th> -->
                                    <!-- <td><a href="/users/delete/<%=user._id%>">ลบ</a></td> -->
                                </tr>
                            </thead>
                            <tbody>                              
                                <% user.forEach((user, index) => { %>                              
                                <tr>
                                    <td><%=index+1 %></td>
                                    <td><%=user.fb_name %></td>
                                    <td><%=user.role %></td>
                                    <td><%=user.fb_id %></td>
                                    <td><%=user.free_trials %></td>
                                    <td><%= moment(user.createdAt).format( 'MMM-DD-YYYY') %></td>
                                    <td><%= moment(user.updatedAt).format( 'MMM-DD-YYYY') %></td>                                    
                                    <td><a href="/users/edit/<%=user._id%>">แก้ไข</a></td>
                                </tr> 
                                <% }) %>                                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>