<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Comberco-Chatbot | <%- title %></title>

      <link rel="icon" type="image/gif" href="/static/myimage/bot_logo.png" />
      <!-- Bootstrap -->
      <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
      <!-- bootstrap-daterangepicker -->
      <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
      <!-- iCheck -->
      <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
      <!-- bootstrap-progressbar -->
      <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
      <!-- JQVMap -->
      <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>      
      <!-- Custom Theme Style -->
      <link href="/static/build/css/custom.css" rel="stylesheet">    
  </head>
  <body class="nav-sm">   
    <div class="container body">
      <div class="main_container">

            
          
            <%- content %>
            
                
        </div>
      </div>

      
      <!-- jQuery -->
      <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
      <!-- NProgress -->
      <script src="/static/vendors/nprogress/nprogress.js"></script>
      <!-- bootstrap-progressbar -->
      <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
      <!-- iCheck -->
      <script src="/static/vendors/iCheck/icheck.min.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="/static/vendors/moment/min/moment.min.js"></script>
      <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- bootstrap-wysiwyg -->
      <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
      <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
      <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
      <!-- jQuery Tags Input -->
      <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
      <!-- Switchery -->
      <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
      <!-- Select2 -->
      <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
      <!-- Parsley -->
      <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
      <!-- Autosize -->
      <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
      <!-- jQuery autocomplete -->
      <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
      <!-- starrr -->
      <script src="/static/vendors/starrr/dist/starrr.js"></script>    
      <!-- Custom Theme Scripts -->
      <script src="/static/build/js/custom.js"></script>
      <!-- <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
      <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
      <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
      <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
      <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
      <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
      <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
      <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script> -->
  </body>
</html>
