<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="" class="site_title"><i class="fa fa-line-chart"></i> <span>CombercoBot</span></a>
    </div>
  
    <div class="clearfix"></div>
  
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="/static/myimage/telegram-bot.png" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><%=displayname%></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
  
    <br />
  
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <br>
        <ul class="nav side-menu">
          <li><a href="/"><i class="fa fa-cube"></i>DashBoard</a></li>
          <li><a><i class="fa fa-toggle-right"></i>เมนู Profile<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/users/profile/<%=myuser%>"><i class="fa fa-check-square-o"></i>ข้อมูล Profile</a></li>                            
              <li><a href="/payment"><i class="fa fa-bookmark-o"></i>ข้อมูลการชำระเงิน</a></li>
              <%if (myrole === 'admin') { %>
                <li><a href="/package"><i class="fa fa-clone"></i>จัดการ Package</a></li>
                <li><a href="/feedback"><i class="fa fa-credit-card"></i>รายงานปัญหา</a></li>
              <% } %>                         
            </ul>
          </li>
          <li><a><i class="fa fa-toggle-right"></i>เมนู Chatbot<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/bot"><i class="fa fa-briefcase"></i>ข้อมูล Chatbot</a></li>
              <li><a href="/goodsConfirmation"><i class="fa fa-edit"></i>รายการสั่งซื้อ</a></li>              
              <li><a href="/question"><i class="fa fa-question-circle-o"></i>คำถาม-คำตอบ</a></li>
              <li><a href="/goods"><i class="fa fa-cubes"></i>สินค้า</a></li>
              <li><a href="/account"><i class="fa fa-university"></i>ตั้งค่าบัญชีธนาคาร</a></li>
              
              <!-- <li><a href="/chatbot/botlogs"><i class="fa fa-folder-o"></i>รายการคุยของ bot</a></li>  -->
            </ul>
          </li>                   
        </ul>
      </div>
    </div>
    
    <!-- /sidebar menu -->
  
    <!-- /menu footer buttons -->
    <!-- <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'logout'%}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div> -->
    <!-- /menu footer buttons -->
  </div>
  <!-- <script>

    console.log(user.id);
    console.log(req.session);
    
  </script> -->